.parentdiv{
  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
  gap: 30px;
  padding: 0px 50px;
  background-color: rgb(0,0 , 0,0.1);
          
}
#maine{
   background-color: white;
   box-shadow: 0 0 50px lightgray;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  p:hover{
    color: orangered;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
  }
  .d1home{
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
  .d2home{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;
    padding: 5px 0px;
  
  }
  
  .start{
    display: flex;
  }
  .Availability{
    display: flex;
  }
  .d3home{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    
  }
  .carouseles{
    width: 200px;
    border: 1px solid;
    height: 150px;
  }
  .facilitiesbox{
    display: grid;
    gap: 15px;
  }
  .facilities{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .facilities div{
    border: 1px solid;
    height: 50px;
    display: grid;
    place-content: center;
    text-align: center;
  
  }
  #knowmorebtn{
    background-color: rgb(225, 114, 74);
    color: white;
    width: 350px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    height: 50px;
  }
  #knowmorebtn:hover{
    background-color: orangered;
  }
  #likebtn{
    border: 1px solid rgb(87, 85, 85);
    background-color: transparent;
    border-radius: 50%;
    transition: 1s;
  }
  #likebtn:focus{
    background-color: rgb(233, 55, 55);
    border: none;
  }
  #likebtn:focus i{
    color: white;
  }
  #imagehoste{
    width:100%;
    height: 100%;
  }
  #buttonsdiv{
    display: flex;
    gap: 10px;
  }
  i{
    font-size: 27px;
  }
  #icon{
    width: 30px;
  }
  
  